<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front/styles/header.css">
    <link rel="stylesheet" href="/Front/styles/recherche.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap"
      rel="stylesheet"
    />
    <title>BakerStreet</title>
</head>
<body>
    <nav>

        <a href="/" class="nav-icon" aria-label="homepage" aria-current="page">
          <img src="/Front/assets/img/logo sur coté noir.png" alt="chat icon" />
        </a>
  
        <div class="main-navlinks">
          <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
              <span></span>
              <span></span>
              <span></span>
            </button>
          <div class="navlinks-container">
            <a href="#" aria-current="page">Accueil</a>
            <a href="#">parametres</a>
          </div>
        </div>
  
        <div class="nav-authentication">
          <a href="#" class="user-toggler" aria-label="Sign in page">
            <img src="/Front/assets/img/utilisateur.png" alt="user icon" />
          </a>
          <div class="sign-btns">
            <button type="button">S'enregistrer</button>
            <button type="button">Se connecter</button>
          </div>
        </div>
        
      </nav>

      <div class="space"> 
      </div>

      <div class="title1">
        <!-- <h1>RESULTATS</h1> -->
      </div>
      <div class="main-content">
        <div class="left">
          <div class="box">
            <div class="title2">
              <h2>RESULTATS</h2>
              <div class="item">
                <img class="icon" src="/Front/assets/img/chevron-fleche-vers-le-bas (2).png" alt="historique">
                {{range .Results.Facebook}}
                <div class="detail-content">
                  <p>Research: {{.}}</p>
                </div>
                {{end}}
              </div>
              <div class="item">
                <img class="icon" src="/Front/assets/img/chevron-fleche-vers-le-bas (2).png" alt="historique">
                {{range .Results.Twitter}}
                <div class="detail-content">
                  <p>Research: {{.}}</p>
                </div>
                {{end}}
              </div>
              <div class="item">
                <img class="icon" src="/Front/assets/img/chevron-fleche-vers-le-bas (2).png" alt="historique">
                {{range .Results.Tiktok}}
                <div class="detail-content">
                  <p>Research: {{.}}</p>
                </div>
                {{end}}
              </div>
              <div class="item">
                <img class="icon" src="/Front/assets/img/chevron-fleche-vers-le-bas (2).png" alt="historique">
                {{range .Results.Github}}
                <div class="detail-content">
                  <p>Research: {{.}}</p>
                </div>
                {{end}}
              </div>
          </div>
        </div>
        <!-- <script src="scrolling.js"></script> -->
      
</body>
</html>