<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Front/styles/header.css">
    <link rel="stylesheet" href="/Front/styles/recherche.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500;8..144,700;8..144,900&display=swap"
      rel="stylesheet"
    />
    <title>BakerStreet</title>
</head>
<body>
    <nav>

        <a href="/" class="nav-icon" aria-label="homepage" aria-current="page">
          <img src="/Front/assets/img/logo sur coté noir.png" alt="chat icon" />
        </a>
  
        <div class="main-navlinks">
          <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
              <span></span>
              <span></span>
              <span></span>
            </button>
          <div class="navlinks-container">
            <a href="/" aria-current="page">Accueil</a>
          </div>
        </div>
  
        <div class="nav-authentication">
          <a href="/Account" class="user-toggler" aria-label="Sign in page">
            <img src="/Front/assets/img/utilisateur.png" alt="user icon" />
          </a>
          
          {{if not .User.Username}}
          <div class="sign-btns">
            <a href="/Enregistrement">
              <button type="button">S'enregistrer</button>
            </a>
            <a href="/Authentification">
              <button type="button">Se connecter</button>
            </a>
            {{else}}
            <a href="/Account">
              <button type="button">{{.User.Username}}</button>
            </a>
            <a href="/Deconnexion">
              <button type="button">Se déconnecter</button>
            </a>
          </div>
          {{end}}
        </div>
        
      </nav>

      <div class="space"> 
      </div>

      <div class="title1">
        <!-- <h1>RESULTATS</h1> -->
      </div>
      <div class="main-content">
        <div class="left">
          <div class="box">
            <div class="title2">
              <h2>RESULTATS</h2>
            </div>
              <div class="item">
                {{if .Results.Facebook}}
                    {{range .Results.Facebook}}
                    <div class="detail-content">
                        <a href="{{.}}">Research: {{.}}</a>
                    </div>
                    {{end}}
                {{else}}
                    <div class="detail-content">
                        <p>No Facebook results.</p>
                    </div>
                {{end}}
            </div>
            <div class="item">
                {{if .Results.Twitter}}
                    {{range .Results.Twitter}}
                    <div class="detail-content">
                        <a href="{{.}}">Research: {{.}}</a>
                    </div>
                    {{end}}
                {{else}}
                    <div class="detail-content">
                        <p>No Twitter results.</p>
                    </div>
                {{end}}
            </div>
            <div class="item">
                {{if .Results.TikTok}}
                    {{range .Results.TikTok}}
                    <div class="detail-content">
                        <a href="{{.}}">Research: {{.}}</a>
                    </div>
                    {{end}}
                {{else}}
                    <div class="detail-content">
                        <p>No Tiktok results.</p>
                    </div>
                {{end}}
            </div>
            <div class="item">
                {{if .Results.GitHub}}
                    {{range .Results.GitHub}}
                    <div class="detail-content">
                        <a href="{{.}}">Research: {{.}}</a>
                    </div>
                    {{end}}
                {{else}}
                    <div class="detail-content">
                        <p>No Github results.</p>
                    </div>
                {{end}}
            </div>
          </div>
        </div>
        <!-- <script src="scrolling.js"></script> -->
      
</body>
</html>