
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 1300px;
}

.searchbar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 1000px;
    margin-top: -200px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border-color: rgb(145, 145, 145) ;
}

.reference{
    background-color: rgb(172, 172, 172);
    width: 32.2%;
    margin-top: 15%;
    margin-left: 5%;
    border-radius: 20px;
}

.ref-image{
    width: 600px;
}

.ref-texte{
    font-size: x-large;
}

.reference2{
    background-color: rgb(151, 151, 151);
    width: 32.2%;
    margin-top: -35%;
    margin-left: 55%;
    border-radius: 20px;
}

.ref-image2{
    width: 600px;
}

.reference3{
    margin-top: 200px;
}   

.sous-cat{
    background-color: rgb(172, 172, 172);
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 20px;
}   

.sous-cat2{
    background-color: rgb(172, 172, 172);
    width: 40%;
    margin-top: 5%;
    margin-left: 5%;
    border-radius: 20px;
}

.sous-cat3{
    background-color: rgb(151, 151, 151);
    width: 40%;
    margin-top: -18%;
    margin-left: 50%;
    border-radius: 20px;
}

.sous-cat4{
    background-color: rgb(151, 151, 151);
    width: 40%;
    margin-top: 6%;
    margin-left: 50%;
    border-radius: 20px;
}

.text-cat{
    font-size: x-large;
}

.titre-3{
    color: white;
}